.text-blue-500 {
    color: #004aff;
}

.hover\:text-blue-500:hover {
    color: #004aff;
}

.hover\:text-blue-900:hover {
    color: #273556;
}

.text-blue-900 {
    color: #273556;
}

.bg-blue-900 {
    background-color: #273556;
}

.text-grey-500 {
    color: #d0def2;
}

.text-grey-600 {
    color: #a7b5d1;
}

.bg-blue-500 {
    background-color: #004aff;
}

.border-grey-500 {
    border-color: #d0def2;
}

.border-blue-500 {
    border-color: #004aff;
}

.hover\:border-blue-500:hover {
    border-color: #004aff;
}

.focus\:border-blue-500:focus {
    border-color: #004aff;
}

.hover\:bg-white:hover {
    background-color: #ffffff;
}

.shadow {
    box-shadow: 0 8px 16px -5px rgba(203, 212, 226, 0.25);
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .09), 0 4px 6px -2px rgba(0, 0, 0, .05);
}

.shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .08), 0 10px 10px -5px rgba(0, 0, 0, .04);
}