.shadow {
    box-shadow: 0 8px 16px -5px rgba(203, 212, 226, 0.25);
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .09), 0 4px 6px -2px rgba(0, 0, 0, .05);
}

.shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .08), 0 10px 10px -5px rgba(0, 0, 0, .04);
}