{{ define "config" }}
    {{ template "start" .nav }}

    <div class="w-screen min-h-screen flex items-center justify-center px-4 sm:pl-32 sm:pr-12">
        <div class="w-full max-w-4xl flex flex-col mb-24 sm:mb-0">
            {{ template "page-title" dict "Title" "Configuration" "Icon" "file-settings-variant"}}

            {{ with .disabled }}
                <div class="w-full p-4 sm:p-6 mb-6 sm:mb-10 flex items-center bg-white rounded-xl border border-gray-300">
                    <div class="mr-4">
                        <div class="flex items-center justify-center w-10 h-10 rounded-xl bg-orange-100">
                            <span class="mdi mdi-alert-box text-2xl text-yellow-500"></span>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-blue-900 text-sm font-semibold">
                            Configuration management through the dashboard is currently disabled.<br>
                            If you want to access it, you have to enable it manually from the config file / command line argument.
                        </p>
                    </div>
                </div>
            {{ else }}
                {{ template "errors" .errors }}
                {{ template "success" .success }}

                <div class="w-full p-4 sm:p-6 mb-6 sm:mb-10 flex items-center bg-white rounded-xl border border-gray-300">
                    <div class="mr-4">
                        <div class="flex items-center justify-center w-10 h-10 rounded-xl bg-orange-100">
                            <span class="mdi mdi-alert-box text-2xl text-yellow-500"></span>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-blue-900 text-sm font-semibold">
                            When saving the configuration, Memento will exit in order to apply the new settings. If
                            you're
                            running in docker, it should be restarted automatically
                        </p>
                    </div>
                </div>

                <form method="post" action="/config" class="flex w-full flex-col">
                    <div class="flex flex-col sm:flex-wrap -mx-4" style="height: 1280px" id="config-wrapper">
                        {{ template "recursive-config" dict "Value" .settings "Step" 0 "uid" "" }}
                    </div>

                    <div class="my-2 flex">

                        {{ template "form-button" "Save & restart" }}

                        <input type="reset"
                               class="px-4 py-2 mx-2 font-bold text-sm text-blue-900 border border-transparent bg-transparent cursor-pointer"
                               value="Revert changes">
                    </div>
                </form>
            {{ end }}
        </div>
    </div>

    {{ if not .disabled }}
        <script>
            el = document.getElementsByClassName("config-category")

            var items = 4
            if (window.innerWidth <= 640) {
                items = el.length
            }

            var height = 0

            for (i = 0; i < items; i++) {
                height += el[i].offsetHeight
            }

            height += 10

            document.getElementById("config-wrapper").style.height = height + "px"

        </script>
    {{ end }}

    {{ template "end" }}
{{ end }}


{{ define "recursive-config" }}
    {{ $step := .Step }}
    {{ $uid := .uid }}
    {{ range $key, $value := .Value }}
        {{ if isMap $value }}
            {{ if eq $step 0 }}
                <div class="p-4 flex config-category">
                    <div class="rounded-xl p-6 bg-white w-full border border-gray-300">
                        <p class="font-semibold mb-4 uppercase text-blue-900">{{ $key }}</p>

                        {{ template "recursive-config" dict "Value" $value "Step" (plus $step 1) "uid" (printf "%s.%s" $uid $key) }}
                    </div>
                </div>
            {{ else }}
                <div class="ml-{{ times (plus $step -1) 4 }} my-4">
                    <p class="text-blue-900 text-sm font-semibold">{{ $key }}</p>

                    {{ template "recursive-config" dict "Value" $value "Step" (plus $step 1) "uid" (printf "%s.%s" $uid $key) }}
                </div>
            {{ end}}
        {{ else }}
            {{ if eq $step 0 }}
                <div class="p-4 flex config-category">
                    <div class="rounded-xl p-6 bg-white w-full border border-gray-300">
                        <p class="font-semibold mb-4 uppercase text-blue-900">{{ $key }}</p>

                        {{ template "config-value" dict "Label" $key "Value" $value "Step" $step "uid" (printf "%s.%s" $uid $key) }}
                    </div>
                </div>
            {{ else }}
                {{ template "config-value" dict "Label" $key "Value" $value "Step" $step "uid" (printf "%s.%s" $uid $key) }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "config-value" }}
    <div class="flex flex-col ml-{{ times (plus .Step -1) 4 }} my-3">
        <p class="text-gray-500 text-sm">{{ .Label }}</p>

        {{ if eq (printf "%T" .Value) "bool" }}
            <label for="toogle{{ .uid }}" class="flex items-center cursor-pointer my-2">
                <div class="relative">
                    <input id="toogle{{ .uid }}" type="checkbox"
                           class="hidden" {{ if eq .Value true }} checked {{end}} name="{{ .uid }}"/>
                    <!-- line -->
                    <div class="toggle__line w-12 h-6 bg-gray-400 rounded-full shadow-inner"></div>
                    <!-- dot -->
                    <div class="toggle__dot absolute w-4 h-4 bg-white rounded-full shadow inset-y-0 left-0"></div>
                </div>
            </label>
        {{ else }}
            <input type="text" value="{{ .Value }}" name="{{ .uid }}"
                   class="w-full px-4 py-2 border border-gray-300 hover:border-blue-500 focus:border-blue-500 transition rounded text-blue-900 text-sm">
        {{ end }}
    </div>
{{ end }}