{{ define "config" }}
    {{ template "start" .nav }}

    <div class="container pl-32 pr-12 mx-auto">
        {{ template "errors" .errors }}
        {{ template "success" .success }}

        <div class="flex flex-col pt-6 sm:pt-10">
            <h2 class="font-semibold text-sm uppercase text-blue-900">Configuration</h2>
            <div class="flex flex-col">
                <form method="post" action="/config">
                    <button class="px-4 py-2 my-2 bg-blue-500 font-bold text-sm text-white rounded-xl border border-blue-500 hover:bg-white hover:text-blue-500 transition">
                        Save
                    </button>
                    {{ template "recursive-config" dict "Value" .settings "Step" 0 "uid" "" }}
                    <button class="px-4 py-2 my-2 bg-blue-500 font-bold text-sm text-white rounded-xl border border-blue-500 hover:bg-white hover:text-blue-500 transition">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>

    {{ template "end" }}
{{ end }}


{{ define "recursive-config" }}
    {{ $step := .Step }}
    {{ $uid := .uid }}
    {{ range $key, $value := .Value }}
        {{ if isMap $value }}
            {{ if eq $step 0 }}
                <div class="flex flex-wrap my-4">
                    <div class="rounded-xl my-4 px-8 py-4 bg-white">
                        <p class="font-semibold mb-4 uppercase text-blue-900">{{ $key }}</p>

                        {{ template "recursive-config" dict "Value" $value "Step" (plus $step 1) "uid" (printf "%s.%s" $uid $key) }}
                    </div>
                </div>
            {{ else }}
                <div class="flex flex-wrap ml-{{ times $step 4 }}">
                    <div class="rounded-xl my-4">
                        <p class="text-blue-900">{{ $key }}</p>

                        {{ template "recursive-config" dict "Value" $value "Step" (plus $step 1) "uid" (printf "%s.%s" $uid $key) }}
                    </div>
                </div>
            {{ end}}
        {{ else }}
            {{ template "config-value" dict "Label" $key "Value" $value "Step" $step "uid" (printf "%s.%s" $uid $key) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "config-value" }}
    <div class="flex flex-col ml-{{ times .Step 4 }} my-1">
        <p class="text-grey-600 mr-4">{{ .Label }}:</p>

        {{ if eq (printf "%T" .Value) "bool" }}
            <label for="toogle{{ .uid }}" class="flex items-center cursor-pointer my-2">
                <div class="relative">
                    <input id="toogle{{ .uid }}" type="checkbox"
                           class="hidden" {{ if eq .Value true }} checked {{end}} name="{{ .uid }}"/>
                    <!-- line -->
                    <div class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                    <!-- dot -->
                    <div class="toggle__dot absolute w-6 h-6 bg-gray-500 rounded-full shadow inset-y-0 left-0"></div>
                </div>
            </label>
        {{ else }}
            <input type="text" value="{{ .Value }}" name="{{ .uid }}"
                   class="px-4 py-2 my-2 w-64 border border-white hover:border-blue-500 focus:border-blue-500 transition rounded-xl text-blue-900 border-grey-500">
        {{ end }}
    </div>
{{ end }}