{{ define "index" }}
    {{ template "start" .nav }}

    <div class="container px-4 pb-8 mt-20 sm:mt-24 mx-auto">
        <div class="flex flex-col pt-6 sm:pt-10">
            <h2 class="font-semibold text-sm uppercase text-grey-600">Indexed entities</h2>
            <div class="flex flex-col sm:flex-row mt-2 flex-wrap no-outer-margin">
                {{ template "stat" .dbEntries.Blocks }}
                {{ template "stat" .dbEntries.Txs }}
                {{ template "stat" .dbEntries.LogEntries }}
                {{ template "stat" .dbEntries.Uncles }}
            </div>
        </div>
        <div class="flex flex-col pt-6 sm:pt-10">
            <h2 class="font-semibold text-sm uppercase text-grey-600">General</h2>
            <div class="flex flex-col sm:flex-row mt-2 flex-wrap no-outer-margin">
                {{ template "stat" .dbStats.MaxBlock }}
                {{ template "stat" .procStats.TodoLength }}
                {{ template "stat" .procStats.ReorgedBlocks }}
                {{ template "stat" .procStats.InvalidBlocks }}
            </div>
        </div>
        <div class="flex flex-col pt-6 sm:pt-10">
            <h2 class="font-semibold text-sm uppercase text-grey-600">Processing</h2>
            <div class="flex flex-col sm:flex-row mt-2 flex-wrap no-outer-margin">
                {{ template "stat" .timingStats.ScrapingTime }}
                {{ template "stat" .timingStats.IndexingTime }}
                {{ template "stat" .timingStats.ProcessingTime }}
                {{ template "stat" .procStats.MemoryUsage }}
            </div>
        </div>
        <div class="flex flex-col pt-6 sm:pt-10">
            <h2 class="font-semibold text-sm uppercase text-grey-600">Database</h2>
            <div class="flex flex-col sm:flex-row mt-2 flex-wrap no-outer-margin">
                {{ template "stat" .dbStats.DataSize }}
                {{ template "stat" .dbStats.IndexesSize }}
                {{ template "stat" .dbStats.TotalSize }}
                {{ template "stat" .dbStats.MigrationsVersion }}
            </div>
        </div>
    </div>

    {{ template "end" }}
{{ end }}