{{ define "pause" }}
    {{ template "start" .nav }}

    <div class="container pl-32 pr-12 mx-auto">
        {{ template "page-title" dict "Title" "Start/stop" "Icon" "play-pause"}}

        {{ template "info" "While Memento is paused, it will not scrape any new block that is mined on the network." }}
        {{ template "info" "If the backfilling feature is disabled, new blocks mined on the network while Memento is paused will not be indexed!" }}

        <div class="flex mt-8">
            <p class="px-4 py-2 mr-4 bg-white text-blue-900 rounded-xl">
                <span class="mr-4">Current status:</span>
                {{ with .nav.Paused }}
                    <span class="text-blue-900 font-bold">paused</span>
                {{ else }}
                    <span class="text-green-500 font-bold">running</span>
                {{ end }}
            </p>

            <form method="post" action="/pause">
                <button class="px-4 py-2 bg-blue-500 font-bold text-sm text-white rounded-xl border border-blue-500 hover:bg-white hover:text-blue-500 transition">
                    Toggle status
                </button>
            </form>
        </div>
    </div>

    {{ template "end" }}
{{ end }}
