<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <title>memento</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:600,700,800&display=swap" rel="stylesheet">
    <link href="/web/assets/css/index.css" rel="stylesheet"/>
</head>
<body>
<nav class="fixed top-0 w-full flex items-center bg-white h-20 sm:h-24 z-30 border-b border-grey-500 shadow">
    <div class="container px-4 flex justify-between mx-auto relative">
        <div class="flex items-center">
            <img src="/web/assets/images/logo.svg" class="w-8 mr-2" alt="logo"/>
            <p class="logo-text font-sm font-bold text-custom-blue-900">memento</p>
        </div>
    </div>
</nav>

</body>
</html>