{{ define "stat" }}
    <div class="bg-white rounded-xl border border-gray-300 w-full py-4 flex flex-col items-center m-2 sm:m-4">
        <div class="flex items-center justify-center w-10 h-10 rounded-xl bg-{{.Color}}-100">
            <span class="mdi mdi-{{.Icon}} text-xl sm:text-2xl text-{{.Color}}-500"></span>
        </div>
        <p class="text-blue-900 text-xl sm:text-2xl font-bold leading-tight mt-2 sm:mt-4">{{ .Value }}</p>
        <p class="text-gray-500 text-xs font-semibold">{{ .Name }}</p>
    </div>
{{ end }}

{{ define "stat-highlight" }}
    <div class="bg-{{ .Color }}-500 rounded-xl border border-gray-300 w-full py-4 flex flex-col items-center m-2 sm:m-4">
        <div class="flex items-center justify-center w-10 h-10 rounded-xl bg-{{.Color}}-600">
            <span class="mdi mdi-{{.Icon}} text-xl sm:text-2xl text-white"></span>
        </div>
        <p class="text-white text-xl sm:text-2xl font-bold leading-tight mt-2 sm:mt-4">{{ .Value }}</p>
        <p class="text-white text-xs font-semibold">{{ .Name }}</p>
    </div>
{{ end }}

{{ define "stat-inline" }}
    <div class="flex items-center justify-center w-10 h-10 rounded-xl bg-{{.Color}}-100 mr-2">
        <span class="mdi mdi-{{.Icon}} text-xl sm:text-2xl text-{{.Color}}-500"></span>
    </div>
    <div class="flex flex-col">
        <p class="text-blue-900 text-xl sm:text-2xl font-bold leading-tight">{{ .Value }}</p>
        <p class="text-gray-500 text-xs font-semibold">{{ .Name }}</p>
    </div>
{{ end }}

{{ define "stat-inline-chart" }}
    <div class="flex justify-center w-2 mr-2 mt-3">
        <span class="rounded-full w-2 h-2" style="background-color: {{.Color}}"></span>
    </div>
    <div class="flex flex-col">
        <p class="text-blue-900 text-xl sm:text-2xl font-bold leading-tight">{{ .Value }}</p>
        <p class="text-gray-500 text-xs font-semibold">{{ .Name }}</p>
    </div>
{{ end }}